* {
  margin: 0;
  font-size: 1em;
  line-height: normal;
}

body {
  background-image: url('https://i.imgur.com/JVTBj0m.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
}


iframe {
  position: absolute;
  width: 420px;
  height: 315px;
  top: 0;
  right: 0;
}


main {
  position: relative;
  background-color: #DCD7C9;
  width: 600px;
  height: 100vh;
  margin: 0 auto;
  padding: 15px;
}

header {
  text-align: center;
  line-height: 2em;
}

h1 {
  font-size: 1.4em;
}
.nameInput {
  width: 25%;
}

.boxLine {
  text-align: center;
}

.box {
  display: inline-block;
  background-color:white;
  width: 120px;
  height: 120px;
  margin: 15px;
}

.hidden {
  display: none;
}

#game-board {
  display: none;
  background-color:#182747;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  width: 500px;
  height: 500px;
}

#currentRound {
  text-align: center;
}

#result {
  display: none;
  text-align: center;
  font-size: 1.5em;
}

#nextRound{
  display: none;
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#play1Score {
  position: absolute;
  display: none;
  text-align: center;
  left: 20px;
  bottom: 0;
  font-size: 2em;
}

#play2Score {
  position: absolute;
  display: none;
  text-align: center;
  right: 20px;
  bottom: 0;
  font-size: 2em;
}

#playGameRequirement {
  display: block;
}

#playGame {
  display: none;
}