#game-board {
  background-color:aqua;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  width: 500px;
  height: 500px;
}

#result {
  text-align: center;
}

.boxLine {
  text-align: center;
}

.box {
  display: inline-block;
  background-color:white;
  width: 120px;
  height: 120px;
  margin: 15px;
}